---
title: Kneipenplan
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Paderborner Kneipenplan</title>
    <link rel="stylesheet" href="{{site.baseUrl}}/style.css" type="text/css">

</head>
<body>
    <div class="content-wrap">

    <h1>Updates</h1>
        {% assign number = 1 %}{% for post in site.posts %}
        {% if post.content != '' %}
        {% include post.html %}
        {% endif %}
        {% endfor %}
    </div>
</body>
</html>

