*
* CSS Reset
* From Blueprint reset.css
* http://blueprintcss.googlecode.com
*/
html, body, div, span, p, blockquote, pre {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

h1,h2,h3 {
  margin:0;
}

body {
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
}
header{
  margin: 0;

  background-color: white;
}
.content-wrap{
  background-color: white;
  max-width: 40em;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}

.post {
  margin-top: 2em;
  padding: 8px;
  border: groove;
}
.post header {
  position: relative;
}
.post_time{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.post_content p{
  margin-top: 8px; 
}
.postHeading{
  display: inline-block;
  display:block;
}

.post_link{
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.footnav{
  background-color: #222;
  bottom: 0px;
  position: absolute;
}

nav ul{
  margin: 0;
  padding: 0;
}

nav ul li {
  /* This allow us to arrange list items in a row, without using float */
  display: inline-block;
  list-style-type: none;
}

/* Create a style for the first level items */
nav > ul > li > a {
  color: #fff;
  background-color:#2A548A;
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}

.olPopup p { margin:0px; font-size: .9em;}
.olPopup h2 { font-size:1.2em; }

.page-break { display: none; }


th{
  border: 1px solid black;
  font-weight: bold;
}

td{
  border-bottom: 1px dashed black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

table {
 width: 28.7cm;
 border: 1px solid black;
 border-collapse: collapse;
}

@media print{
  @page {size: landscape}

  #pmap {
    width: 28.7cm;
    height: 20cm;
    top:50%;
    left:50%;
    margin:-28.7cm 0 0 -20cm;

  }
  .page-break { display: block; page-break-before: always; }
  
  th {
    border: 0px;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
  }
  td{
    border-bottom: 1pt solid black;
    border-top: 1pt solid black;
    border-right: 0pt ;
    border-left: 0pt ;
    font-size: 8.5pt;
  }

  tbody tr td{
    white-space: nowrap;
    overflow: hidden;
  }
  tbody tr td:nth-child(1){
    max-width: 0.5cm;
    width: 0.5cm;
  }
  tbody tr td:nth-child(2){
    max-width : 3cm;
    width: 3cm;
    text-decoration: none;
  }
  tbody tr td:nth-child(2) a{
    color: black;
    text-decoration: none;
  }
  tbody tr td:nth-child(3){
    max-width: 3cm;
    width: 3cm;
  }
  tbody tr td:nth-child(4){
    max-width: 4cm;
    width: 4cm;
  }
  tbody tr td:nth-child(5){
    max-width: 9.6cm;
    width: 9.6cm;
  }
  tbody tr td:nth-child(6){
    max-width: 9.6cm;
    width: 9.6cm;
  }


  table {
    width: 100%;
    border: 1pt solid black;
    border-collapse: collapse;
  }
}